.box-design{
    width: 40%;
}
.b-color{
    background-color: #41619A;
}
.bg-transparent{
    background-color: transparent;
}
.search-box {
    position: relative;
  }
 .search-icon {
    position: absolute;
    margin-top: 20px;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 2.6rem;
    color: #888;
  }
  
  .input {
    padding-left: 2.5rem; /* Adjusts space for the icon */
  }
  .theadClass {
    background-color: #41619A; /* Change this to your desired color */
    color: white; /* Adjust text color for contrast */
  }