# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
coverage/

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Yarn
yarn.lock

# Mac-specific files
*.swp

# NPM and Yarn caches
.npm/
.yarn/

# Temporary files
*.tmp
*.temp

# Server-specific files
*.pid
*.seed
*.log

#categoryimage
categoryimage/

uploads/