.search-box input {
    height: 56px;
    width: 246px;
    background-color: #F9F9F95E;
    border: 1px solid #E0E0E0;

}

.icon-style {
    position: absolute;
    left: 15px;
    top: 54%;
    transform: translateY(-50%);
    font-size: 20px;
}

.anchor-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A465C;


}

.answer-text {
    width: Hug (87px)px;
    height: Hug (32px)px;
    gap: 10px;
    border-radius: 50px;
    opacity: 0px;
    background: #EAEEF4;
    color: #41619A;



}

.see-offer-btn {
    width: 60%;
    height: 45px;
    gap: 10px;
    border-radius: 8px 0px 0px 0px;
    border: 1px solid #EAEEF4;
    color: #41619A;
    background-color: #E0E0E0;


}
.search-box{
    border-radius: 50%;
}