/* General Styles */
body,
html {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-fluid {
  font-family: "Arial", sans-serif;
  color: #333;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

/* Heading and Slogan */
.slogan-heading {
  background-color: #fafafa;
  width: 100%;
  // height: 340px;
}

.all-h1-tags {
  font-size: 42px !important;
  font-weight: 600 !important;
}

.all-p-tags{
  font-size: 13px;
  font-weight: 500;
  color: #555555;
  // margin-top: 15px !important;
}
.all-h3-tags {
  font-size: 19px; 
  font-weight: 600;
}
.team h3 {
  color: #e47d7c;
}


// small job and larger projects

.buttons {
  border: none;
  width: 100%;
  height: 50px;
  background-color: #ededed;
}

.buttons span {
  margin-left: 10px;
}



/* Responsive Design */
@media (max-width: 768px) {
  .col-md-3 {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* About Us Section */
.about-background {
  background-color: black;
  color: white;
  padding: 2rem;
  // height: 406px;
}

.About-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.About-btn::after {
  content: "\2192"; /* Unicode for right arrow (→) */
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  transition: margin-left 0.3s ease, color 0.3s ease;
}

// About us
.custom-margin {
  margin-left: 150px;
}
.custom-margin p {
  color: white;
  font-weight: 600;
}
@media (max-width: 767px) {
  .custom-margin {
    margin-left: 0;
  }
}

// advantage
.why-us {
  background-color: #ededed;
  margin-left: 20px;
}

.stat-item1 {
  background-color: #324edb;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -12px;
  margin-bottom: 1.05rem;
}

.stat-item1 img {
  width: 30px;
  height: 30px;
}

.Advantages-threeDiv {
  padding: 0.5rem;
  font-size: 8px;
  font-weight: bold;
  color: black;
}

.main-advantage {
  background: linear-gradient(to left, #f8f8f8, #f3f2f2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 7px;
}

.advantage {
  background-color: white;
  // width: 180px;
}

.boxes {
  margin-top: -20px;
}

.boxes h6 {
  margin-left: 30px;
}

.boxes p {
  font-size: 14px;
  margin-left: 30px;
}

// card
.card1{
  box-shadow:  0px 10px 100px 26px #e6e3e3;
}

.card-background {
  padding: 10px;
  // background: linear-gradient(to bottom , #f8f8f8, #f3f2f2);
}

.card img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.card-text1{
  color: #cacaca;
}

// product

.product-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.product-image {
  width: 150px;
  height: 150px;
}

.product-card {
  flex: 1 1 18%;
  max-width: 200px;
  margin: 1rem;
}

.d-flex.flex-wrap {
  gap: 1rem;
}
.card-price {
  font-weight: 800;
  size: 16px;
  color: black;
}

@media (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(4, 0fr);
  }
}

@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-image {
    width: 200px;
    height: 140px;
  }
}

@media (max-width: 576px) {
  .product-container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .product-image {
    width: 200px;
    height: 140px;
  }
}

// gallery
.gallery img {
  height: 80%;
  width: 80%;
}

/* Carousel.css */
.slider {
  margin-top: 30px;
  // padding: 1em;
  position: relative;
  overflow: hidden;
  // width: 100%;
}

.slide-track {
  display: flex;
  gap: 0;
}

.slide {
  // flex: 1 0 calc(100% / 6); 
  box-sizing: border-box;
  // padding: 0 0.5em;
  color: #bfbfbf;
}
.slide h3{
  font-size: 19px;
  font-weight: 600;
  margin: 0px 15px 0px 15px; 
  padding: 0 2.5rem;
  // padding: 15px; 
}

.slider-btn {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.prev1 {
  left: 0px;
}

.next1 {
  right: 0px;
}
.icon-prev,
.icon-next {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  background-size: cover; 
  background-repeat: no-repeat; 
}
.icon-prev {
  background-image: url('../../../assets/images/left-arrow.png');
}

.icon-next {
  background-image: url('../../../assets/images/right-arrow.png'); 
} 




// testimonial
.testimonial {
  background-color: #f3f3f3;
  height: 240px;
  width: 100%;
  margin-bottom: 20px;
}

.cruise-image {
  background-color: white;
  color: orange;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-family: initial;
  font-weight: bold;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.stats-section {
  background: linear-gradient(-135deg, #856d3f 60%, #9a865e 30%);
  color: white;

}
.new-company{
  padding: 26px 0px 0px 0px !important;
  border-left: 3px solid black;
  border-right: 3px solid black;
 height: auto;
}

.stats-section h2 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: -45px;
  background-color: #856d3f;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
}

.stat-item {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.stat-label {
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 8px;
  color: white;
  text-transform: uppercase;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .stats-section h2 {
    font-size: 20px;
  }
  .stat-item {
    font-size: 30px;
  }
  .stat-label {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .stats-section h2 {
    font-size: 20px;
    margin-top: -45px;
  }
  .stat-item {
    font-size: 28px;
  }
  .stat-label {
    font-size: 9px;
  }
}

@media (max-width: 576px) {
  .stats-section {
    padding: 1rem;
  }
  .stats-section h2 {
    font-size: 20px;
    margin-top: -45px;
    padding: 10px;
    width: fit-content;
  }
  .stat-item {
    font-size: 24px;
  }
  .stat-label {
    font-size: 8px;
    padding: 0.4rem;
  }
}

// partner

.partners img {
  width: 100px;
}
.partners1 img {
  width: 60px;
}

// footer
.footer-container {
  background-color: #f6f4f4;
}

.footer-start h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-start p {
  color: #6c757d;
  margin-bottom: 5px;
  text-decoration: underline;
}
.social-icons a {
  color: #bfbfbf;
  font-size: 20px;
  margin-right: 15px;
}
.footer-links a {
  color: #212529;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
}
.footer-bottom {
  border-top: 1px solid #dee2e6;
  padding-top: 20px;
  margin-top: 40px;
  font-size: 14px;
  color: #bfbfbf;
}
.footer-bottom a {
  color: #bfbfbf;
  text-decoration: none;
  margin-left: 20px;
}



.carousel-control-prev,
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-prev:active,
.carousel-control-next,
.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-next:active {
  opacity: 1 !important; 
  transform: none !important; 
  background: none !important; 
  border: none !important; 
  box-shadow: none !important; 
  cursor: pointer !important; 
}

